#login-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100%;

}

#jumbotron {
    padding: 0;
    padding: 20px;
    width: 75%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.6);    
    color: white;
}

#jumbotron h1 {
    cursor: default;
}
