<div class="container-fluid">
    <div class="jumbotron">
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-12 p-0">
                    <h1 class="display-4">Reset Password</h1>
                    <div class="form-group col-md-4 p-3">
                        <label for="email-input"
                            >Enter your Email Address</label
                        >
                        <input
                            [(ngModel)]="email"
                            type="email"
                            class="form-control form-control-lg"
                            id="email-input"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </form>
    </div>
</div>
