.wrapper {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 250px;    
    height: 100vh;
    /* z-index: 999; */
    background: rgb(27, 162, 240);
    color: #fff;
    transition: all 0.3s;
    padding: 5px;
}

#sidebar-header h3{
    cursor: default;
} 
